* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.supreme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 15vh;
    clip-path: polygon(0 19%, 100% 0, 100% 60%, 0 86%);
    background-image: url('../images/image-about.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.supreme .container-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.205);
    margin-top: -120px;
}

.supreme .container-about img {
    border-radius: 25px;
}

.titre-about {
    margin-bottom: 30px;

}

.supreme .container-about .content-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:40%;
}

.supreme .container-about2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.supreme .container-about2 img {
    border-radius: 10px;
}

.supreme .container-about2 .content-about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}